<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PREDICTION.COM</title>
</head>
<body>
    <h2>Brain Fields</h2>
    <form method="post" action="predict/">
        {% csrf_token %}
        <input type="checkbox" name="item_checkbox" value=1 >A1<br>
        <input type="checkbox" name="item_checkbox" value=2 >A2<br>
        <input type="checkbox" name="item_checkbox" value=3 >T3<br>
        <input type="checkbox" name="item_checkbox" value=4 >T3<br>
        <input type="checkbox" name="item_checkbox" value=5 >T5<br>
        <input type="submit" value="Send" />
    </form>
</body>
</html>
